<h1>WORD COUNT</h1>

<a href="{% url 'about' %}">ABOUT</a>

<form action="{% url 'count' %}">
    <textarea cols="40" rows="10" name="fulltext"></textarea>
    <br>
    <input type="submit" value="Count!" />
</form>

<br>
<br>
<br>
<div id="제작자">
    <table>
    <tbody>
      <tr>
        <td rowspan="2" width="70"><img src="C:\Users\사용자\Desktop\멋쟁이사자처럼\멋사 2차 과제" height="60"></td>
        <td><strong>Oh JeGyu</strong>
        </td>
      </tr>
      <tr>
         <td width="255">인하대 멋쟁이 사자처럼 7기</td>
      </tr>
    </tbody>
    </table>